:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --main-site-color: #FFFFFF;
  --primary-site-background: #f5f5f5;
  --secondary-site-backgroud: #2f303a;
  --team-section-backgroung:#F5F4FA;
  --main-button-color: #188CE8;
}

/*головний колір сторінки  */

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background: var(--main-site-color)
}

/*логотип*/

.logo-link {
  color: var(--titel-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--accent-color);
}

/* навігація сайту */

.site-nav .link {
  color: var(--titel-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* навігація контактів */

.header-contacts .contact-list {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .contact-list:hover,
.contact-list:focus {
  color: var(--accent-color);
}

/* основний зміст студія*/

.main-section {
  background: var(--secondary-site-backgroud);
}

.main-header {
  color: var(--main-site-color);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
}

.main-button {
  color: var(--main-site-color);
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-button:hover,
.main-button:focus {

  background: var(--main-button-color);
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.titel {
  color: var(--titel-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.titel-text {
  font-size: 14px;
  line-height: 1.7;
}

.occupation-titel {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
}

.team {
  background: var(--team-section-backgroung);

}

.team-img {
  background: var(--main-site-color);
}

.team-titel {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
}

.team-name {
  color: var(--titel-text-color);
  font-size: 16px;
  line-height: 1.8;
}

.team-position {
  font-size: 16px;
  line-height: 1.8;
}

/* Портфоліо */

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing:inherit;
  color: var(--titel-text-color);
  background: var(--team-section-backgroung);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-site-color);
  background: var(--accent-color);
}

.project-titel {
  color: var(--titel-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project {
  font-size: 16px;
  line-height: 1.8;
}

/*Футер*/

.footer-nav {
  background: var(--secondary-site-backgroud);
}

.footer-logo {
  color: var(--main-site-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.card-address {
font-style: normal;

}

.footer-list .footer-address {
  color:var(--main-site-color);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);

}

.footer-list .footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
}
